<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль сотрудника</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div th:if="${person != null}" class="col-md-9 col-md-offset-3" th:object="${person}">

            <h2> Профиль родственника </h2>

            <div class="form-group">
                <label class="control-label" for="surname">Фамилия</label>
                <p id="surname" class="form-control" th:text="*{surname}">Фамилия сотрудника</p>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Имя</label>
                <p id="name" class="form-control" th:text="*{name}">Имя сотрудника</p>
            </div>

            <div class="form-group">
                <label class="control-label" for="middleName">Отчество</label>
                <p id="middleName" class="form-control" th:text="*{middleName}">Отчество сотрудника</p>
            </div>

            <div class="form-group">
                <label class="control-label" for="birthday">День рождения</label>
                <p id="birthday" class="form-control" th:text="*{birthday}">01.01.0000</p>
            </div>

            <div class="form-group">
                <label class="control-label" for="telephone">Телефон</label>
                <p id="telephone" class="form-control" th:text="*{relationship}">Телефон</p>
            </div>
        </div>

        <div th:if="${person == null}" class="col-md-9 col-md-offset-3">
            <div class="form-group">
                <h2 th:text="${notFound}">Информация о родственнике</h2>
            </div>
        </div>
    </div>
</div>

</body>
</html>