<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Конвертер валют</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse" id="main-navbar">
            <ul class="nav navbar-nav center">
                <li th:fragment="menuItem (path,active,title,glyph,text)" class="active"
                    th:class="${active==menu ? 'active' : ''}">
                    <a th:href="@{__${path}__}" th:title="${title}">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home"
                              aria-hidden="true"></span>
                        <span th:text="${text}">Template</span>
                    </a>
                </li>

                <li th:replace="::menuItem ('/converter/form','form','form','form','Конвертер валют ')">
                    <span class="glyphicon glyphicon" aria-hidden="true"></span>
                    <span>Конвертер</span>
                </li>

                <li th:replace="::menuItem ('/history','history','history','history','История')">
                    <span class="glyphicon glyphicon" aria-hidden="true"></span>
                    <span>История</span>
                </li>

                <li th:replace="::menuItem ('/currencies','currency','currency','currency','Список валют')">
                    <span class="glyphicon glyphicon" aria-hidden="true"></span>
                    <span>История</span>
                </li>

                <li th:replace="::menuItem ('/logout','logout','logout','logout','Выйти из системы')">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span>Уже зарегистрированы? <a href="/" th:href="@{/logout}">Выход из системы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<th:block th:include="${template}"/>


</body>

</html>