<!-- tag::full[] -->
<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='employees'">

<head>
    <title>Employees</title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900"
            th:text="#{user.create}">Create user</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">

                <form id="user-form"
                      th:object="${employee}"
                      th:action="@{/employees/create}"
                      method="post"
                      enctype="multipart/form-data">
                    <div>
                        <div th:replace="fragments/forms :: fielderrors"></div>
                        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                            <input type="hidden" th:field="*{id}"> <!--.-->

                            <!-- tag::textinputs[] -->
                            <div th:replace="fragments/forms :: textinput(#{user.tabelNumber}, 'tabelNumber', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: textinput(#{user.surname}, 'surname', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: textinput(#{user.name}, 'name', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: textinput(#{user.middleName}, 'middleName', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: dateinput(#{user.birthday}, 'birthday', 'sm:col-span-3')"></div>

                            <div th:replace="fragments/forms :: textinput(#{user.passSeries}, 'passSeries', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: textinput(#{user.passNumber}, 'passNumber', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: textinput(#{user.inn}, 'inn', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: textinput(#{user.snils}, 'snils', 'sm:col-span-3')"></div>

                            <div th:replace="fragments/forms :: textinput(#{user.phoneNumber}, 'telephone', 'sm:col-span-3')"></div>

                            <!--                            tag::citizenship[]-->
                            <div class="sm:col-span-2">
                                <label for="citizenship" class="block text-sm font-medium text-gray-700">Citizenship</label>
                                <select id="citizenship"
                                        class="max-w-lg block focus:ring-green-500 focus:border-green-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                                        th:field="*{citizenship}"> <!--.-->
                                    <option th:each="citizenship : ${countryList}"
                                            th:text="${citizenship.name}"
                                            th:value="${citizenship.name}">Greenland <!--.-->
                                    </option>
                                </select>
                            </div>
                            <!--                            end::citizenship[]-->

                            <div class="sm:col-span-2">
                                <label for="department" class="block text-sm font-medium text-gray-700">Department</label>
                                <select id="department"
                                        class="max-w-lg block focus:ring-green-500 focus:border-green-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                                        th:field="*{department}"> <!--.-->
                                    <option th:each="department : ${departmentList}"
                                            th:text="${department.name}"
                                            th:value="${department.name}">Department - 001/02/32 - QA <!--.-->
                                    </option>
                                </select>
                            </div>

                            <div class="sm:col-span-2">
                                <label for="position" class="block text-sm font-medium text-gray-700">Position</label>
                                <select id="position"
                                        class="max-w-lg block focus:ring-green-500 focus:border-green-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                                        th:field="*{position}"> <!--.-->
                                    <option th:each="position : ${positionList}"
                                            th:text="${position.name}"
                                            th:value="${position.name}">Team Leader <!--.-->
                                    </option>
                                </select>
                            </div>

                            <div class="sm:col-span-2">
                                <label for="university" class="block text-sm font-medium text-gray-700">University</label>
                                <select id="university"
                                        class="max-w-lg block focus:ring-green-500 focus:border-green-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                                        th:field="*{university}"> <!--.-->
                                    <option th:each="university : ${universityList}"
                                            th:text="${university.name}"
                                            th:value="${university.name}">Начальник <!--.-->
                                    </option>
                                </select>
                            </div>

                            <div class="sm:col-span-2">
                                <label for="education" class="block text-sm font-medium text-gray-700">Education</label>
                                <select id="education"
                                        class="max-w-lg block focus:ring-green-500 focus:border-green-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                                        th:field="*{education}"> <!--.-->
                                    <option th:each="education : ${educationList}"
                                            th:text="${education.degree}"
                                            th:value="${education.degree}">Начальник <!--.-->
                                    </option>
                                </select>
                            </div>

                            <div class="sm:col-span-2">
                                <label for="userRole" class="block text-sm font-medium text-gray-700">Speciality</label>
                                <select id="userRole"
                                        class="max-w-lg block focus:ring-green-500 focus:border-green-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                                        th:field="*{speciality}"> <!--.-->
                                    <option th:each="speciality : ${specialityList}"
                                            th:text="${speciality.name}"
                                            th:value="${speciality.name}">Начальник <!--.-->
                                    </option>
                                </select>
                            </div>

                            <div class="sm:col-span-2"></div>
                            <!-- end::textinputs[] -->
                        </div>
                    </div>
                    <div class="mt-8 border-t border-gray-200 pt-5">
                        <div class="flex justify-end">
      <span class="inline-flex rounded-md shadow-sm">
        <button type="button"
                class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                th:text="#{cancel}">
          Cancel
        </button>
      </span>
                            <span class="ml-3 inline-flex rounded-md shadow-sm">
        <button id="submit-button"
                type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                th:text="${editMode?.name() == 'UPDATE'}?#{save}:#{create}">
          Save
        </button>
      </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- tag::avatar-js[] -->
<th:block layout:fragment="page-scripts">
    <script>
        document.querySelector('#selectAvatarButton').addEventListener('click', evt => { // <.>
            document.querySelector('#selectAvatarButton').blur();
            document.querySelector('#avatarFile').click();
        });

        document.querySelector('#avatarImage').addEventListener('click', evt => { // <.>
            document.querySelector('#avatarImage').blur();
            document.querySelector('#avatarFile').click();
        });


        document.querySelector('#avatarFile').addEventListener('change', evt => { // <.>
            previewImage();
        });

        function previewImage() {
            var uploader = document.querySelector('#avatarFile');
            if (uploader.files && uploader.files[0]) {
                document.querySelector('#avatarImage').src = window.URL.createObjectURL(uploader.files[0]); // <.>
                document.querySelector('#avatarImage').classList.remove('p-6'); //<.>
            }
        }
    </script>
</th:block>
<!-- end::avatar-js[] -->
</body>
</html>
<!-- end::full[] -->
