<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:x-transition="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='employees'">
<head>
    <meta charset="UTF-8">
    <title>Профиль сотрудника</title>
</head>
<body>

<div layout:fragment="page-content">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900"
            th:text="#{document.employee}">Документ: Отпуск</h1>
    </div>

    <div th:if="${employee != null}" th:object="${employee}">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
            <div class="py-4">

                <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                        <div th:replace="fragments/fields :: textfield('Фамилия', 'surname')"></div>
                        <div th:replace="fragments/fields :: textfield('Имя', 'name')"></div>
                        <div th:replace="fragments/fields :: textfield('Отчество', 'middleName')"></div>
                        <div th:replace="fragments/fields :: textfield('Дата рождения', 'birthday')"></div>
                        <div th:replace="fragments/fields :: textfield('Гражданство', 'citizenship')"></div>
                        <div th:replace="fragments/fields :: textfield('Серия', 'passSeries')"></div>
                        <div th:replace="fragments/fields :: textfield('Номер', 'passNumber')"></div>
                        <div th:replace="fragments/fields :: textfield('ИНН', 'inn')"></div>
                        <div th:replace="fragments/fields :: textfield('СНИЛС', 'snils')"></div>
                        <div th:replace="fragments/fields :: textfield('Университет', 'university')"></div>
                        <div th:replace="fragments/fields :: textfield('Степень образования', 'education')"></div>
                        <div th:replace="fragments/fields :: textfield('Специальность', 'speciality')"></div>
                        <div th:replace="fragments/fields :: textfield('Телефон', 'telephone')"></div>
                        <div th:replace="fragments/fields :: textfield('Подразделение', 'department')"></div>
                        <div th:replace="fragments/fields :: textfield('Должность', 'position')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>