<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:x-transition="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='vacation'">
<head>
    <meta charset="UTF-8">
    <title>Отпуск</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">

<!--                <div th:replace="fragments/titles :: title-with-button(#{document.vacation}, #{document.back}, @{'/documents/vacation/'}, 'add-user-button')"></div>-->

                <div th:if="${document.documentStatus=='Открыт'}">
                    <div th:replace="fragments/titles :: title-with-button(#{document.vacation}, #{document.decline}, @{'/documents/vacation/' + ${document.id} + '/decline'}, 'add-user-button')"
                         sec:authorize="hasAuthority('BOSS')"></div>
                    <div th:replace="fragments/titles :: title-with-button(#{document.vacation}, #{document.approve}, @{'/documents/vacation/' + ${document.id} + '/approve'}, 'add-user-button')"
                         sec:authorize="hasAuthority('BOSS')"></div>
                </div>

                <div th:if="${document.documentStatus=='В процессе'}">
                    <div th:replace="fragments/titles :: title-with-button(#{document.vacation}, #{document.close}, @{'/documents/vacation/' + ${document.id} + '/close'}, 'add-user-button')"
                         sec:authorize="hasAuthority('HR')"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div th:if="${document != null}" class="col-md-9 col-md-offset-3" th:object="${document}">

                            <h2>Документ на отпуск</h2>

                            <div th:if="${document.isApproved == true}" class="form-group">
                                <label class="control-label" for="isApprovedTrue">Ответ от начальника:</label>
                                <p id="isApprovedTrue" class="form-control" th:text="Согласовано">Согласовано</p>
                            </div>

                            <div th:if="${document.isApproved == false}" class="form-group">
                                <label class="control-label" for="isApprovedFalse">Ответ от начальника:</label>
                                <p id="isApprovedFalse" class="form-control" th:text="Отклонено">Отклонено</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="createdAt">Создан</label>
                                <p id="createdAt" class="form-control" th:text="*{createdAt}">12.12.2012</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="orderNumber">Номер документа</label>
                                <p id="orderNumber" class="form-control" th:text="*{orderNumber}">Номер документа</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="employeeId">Сотрудник ID</label>
                                <p id="employeeId" class="form-control" th:text="*{employeeId}">Сотрудник ID</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="bossId">Начальник ID</label>
                                <p id="bossId" class="form-control" th:text="*{bossId}">Начальник ID</p>
                            </div>

                            <div th:if="${document.hr != null}" class="form-group">
                                <label class="control-label" for="hr">HR ID</label>
                                <p id="hr" class="form-control" th:text="*{hr}">HR ID</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="documentStatus">Статус документа</label>
                                <p id="documentStatus" class="form-control" th:text="*{documentStatus}">Открыт</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="department">Подразделение</label>
                                <p id="department" class="form-control" th:text="*{department}">Подразделение</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="position">Должность</label>
                                <p id="position" class="form-control" th:text="*{position}">Номер паспорта</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="startAt">Дата начала отпуска</label>
                                <p id="startAt" class="form-control" th:text="*{startAt}">12.12.2012</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="endAt">Дата окончания отпуска</label>
                                <p id="endAt" class="form-control" th:text="*{endAt}">12.12.2012</p>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="vacationType">Комментарий к отпуску</label>
                                <p id="vacationType" class="form-control" th:text="*{vacationType}">Комментарий к
                                    отпуску</p>
                            </div>

                            <div th:if="${document == null}" class="col-md-9 col-md-offset-3">
                                <div class="form-group">
                                    <h2 th:text="${notFound}">Отсутствует документ</h2>>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
</body>
</html>